.page-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .page-content {
        width: 760px
    }
    .search-bar {
        text-align: right;
        margin-bottom: 20px;
    }
}